<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chromicle.amritaResource">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.chromicle.amritaResource.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.chromicle.amritaResource.activies.UploadActivity" />
        <activity android:name="com.chromicle.amritaResource.activies.MainActivity" />
        <activity android:name="com.chromicle.amritaResource.activies.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chromicle.amritaResource.webViewActivity"
            android:label="ABOUT APP"
            android:parentActivityName="com.chromicle.amritaResource.activies.MainActivity" />
    </application>

</manifest>